/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2016, 2:00:42 AM
    Author     : jasonbeffel
*/

/*body {
    background-image: url("../img/starWars/banner1.png");
    height:200px;
    width: 100%;
    background-size: cover;
}*/